# ==============================
# Virtual Environments
# ==============================
Env/

# ==============================
# Python cache / compiled files
# ==============================
__pycache__/
*.py[cod]
*$py.class

# ==============================
# Jupyter Notebook
# ==============================
.ipynb_checkpoints/

# ==============================
# OS-specific
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDEs / Editors
# ==============================
.vscode/
.idea/

# ==============================
# Logs / temp files
# ==============================
*.log
*.tmp

# ==============================
# Model / binary files (optional)
# ==============================
*.pyd
*.dll
*.so
